h1 > a {
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#file-input-label {
  font-size: 10pt;
}

#file-input {
  background-color: #ededee;
  padding: 20px 40px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 5px;
}

#dump-button {
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 8px 20px;
  font-size: 14px;
  color: black;
  background-color: #bcbcbc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#dump-button:hover {
  color: rgb(48, 48, 48);
  background-color: rgb(153, 153, 153);
  /* Darker shade on hover */
}

#file-link {
  font-size: 8pt;
}
